.hero {
  &-image {
    height: 60vh;
    background-image: url(../../assets/images/carousel/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }

  &-header {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    h1 {
      font-size: 72px;
      letter-spacing: -2%;

      @media (max-width: 1199px) {
        font-size: 54px;
      }

      @media (max-width: 991px) {
        font-size: 44px;
      }

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    .text-decoration-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    .decoration-dot {
      position: fixed;
      bottom: 0px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 5px;

      @media (max-width: 767px) {
        // margin: 0 10px;
        width: 5px;
        height: 5px;
      }
    }

    .dot-1 {
      left: 40%;
    }

    .dot-2 {
      left: 45%;
    }

    .dot-3 {
      left: 50%;
    }

    .dot-4 {
      left: 55%;
    }
  }
}
// .decoration-dot {
//   width: 10px;
//   height: 10px;
//   background-color: #fff;
//   border-radius: 50%;
//   margin: 0 5px;
// }
.company-journey {
  .journey-timeline {
    position: relative;
    // max-width: 1200px;
    margin: 0 auto;

    .journey-line {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 2px;
      background-color: #1c836c;
      transform: translateX(-50%);
    }

    .journey-item {
      position: relative;
      margin-bottom: 80px;
      width: 50%;

      &.left {
        padding-right: 50px;
        .journey-content {
          text-align: right;
        }
      }

      &.right {
        left: 50%;
        padding-left: 50px;
      }

      .journey-content {
        position: relative;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
      }

      .journey-date {
        font-size: 18px;
        font-weight: bold;
        color: #0c2957;
        margin-bottom: 10px;
        @media (max-width: 991px) {
          font-size: 16px;
        }
        @media (max-width: 767px) {
          font-size: 15px;
        }
      }

      h3 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #0c2957;

        @media (max-width: 991px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5;

        @media (max-width: 991px) {
          font-size: 15px;
        }
        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      .journey-connector {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
          display: none;
        }

        .journey-circle {
          width: 15px;
          height: 15px;
          background-color: #1c836c;

          border-radius: 50%;
        }

        .journey-line-horizontal {
          height: 2px;
          background-color: #1c836c;
        }
      }

      &.left .journey-connector {
        right: -50px;

        .journey-line-horizontal {
          width: 40px;
        }
      }

      &.right .journey-connector {
        left: -50px;

        .journey-line-horizontal {
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .company-journey {
    .journey-timeline {
      .journey-item {
        width: 100%;
        padding-right: 0;
        padding-left: 50px;

        &.right {
          left: 0;
        }

        .journey-content {
          text-align: left;
        }
      }
    }
  }
}

.intro-vision {
  &-container {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }
    @media (max-width: 991px) {
      margin-top: 10px;
    }
    i {
      font-size: 42px;
      font-weight: 700;
      color: #fff;
      background: #1c836c;
      padding: 20px;
      border-radius: 50%;

      @media (max-width: 767px) {
        font-size: 32px;
        padding: 15px;
      }
    }

    h3 {
      color: #0c2957;
      font-weight: 700;
      line-height: 34px;
    }
    p {
      color: #717a78;
      line-height: 28px;
    }
  }
}
.introduction {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
  padding: 20px;
  @media (max-width: 991px) {
    gap: 30px;
  }
  @media (max-width: 767px) {
    gap: 20px;
  }
}
.vision {
  display: flex;
  justify-content: end;
  align-items: start;
  // float: right;
  gap: 40px;
  margin-top: 40px;
}
.mission {
  display: flex;
  justify-content: end;
  align-items: start;
  // float: right;
  gap: 40px;
  margin-top: 40px;
}

.mission-vision {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  background: #f1f1f1;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  @media (max-width: 991px) {
    flex-wrap: wrap;
    width: 100%;
  }
}
