.carousel-section {
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.carousel-item .carousel-caption {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  max-width: 50%;
}
.carousel-caption h2 {
  font-size: 100px;
  margin-bottom: 1rem;
  font-weight: 900;
  color: #201630;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 75px;
  }
  @media (max-width: 767px) {
    font-size: 45px;
  }
}

.carousel-caption h3 {
  color: #201630;
  margin-bottom: 1.5rem;
  font-weight: 500;

  @media (max-width: 991px) {
    font-size: 24px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

// .carousel-caption button {
//   font-size: 1.1rem;
//   padding: 0.6rem 1.2rem;
// }

.main-btn {
  margin-top: 40px;

  @media (max-width: 991px) {
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.main-btn a {
  position: relative;
  display: inline-block;
  background: #1c836c;
  text-decoration: none;
  color: #fff;
  border-radius: 32px;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;

  @media (max-width: 991px) {
    font-size: 16px;
    padding: 10px 25px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    padding: 7px 20px;
  }
}

.main-btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #000;
  transition: width 0.4s ease;
  z-index: -1;
}

.main-btn a:hover::before {
  width: 100%;
}

.main-btn a:hover {
  color: #fff;
}

.main-btn a .bi-arrow-right {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  z-index: 1;

  .button-line {
    display: inline-block;
    height: 25px;
    width: 1px;
    background-color: #000;
    margin: 0 0.5rem;
    vertical-align: middle;
    background-color: #fff;
  }
}
