.customers {
  position: relative;
  margin-top: 60px;

  @media (max-width: 991px) {
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    margin-top: 10px;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: fit-content;
  }

  .swiper-pagination-bullets.swiper-pagination-horizonta.swiper-horizontal
    > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fractionl {
    top: unset !important;
    left: 50% !important;
    transform: translateX(-50%);
    bottom: -40px !important;

    @media (max-width: 767px) {
      bottom: -25px !important;
    }
  }

  .swiper-pagination-bullet-active {
    background: #000;
  }
}
